html {
	width: 100%;
	background: black;
	color: white;
}

a {
	color: yellow;
	background: #404040;
	padding: 4pt;
	margin: 2pt;
	display: inline-block;
}

h2 {
	margin: 2pt;
}

.e3m-element {
	border: 2pt white solid;
	border-radius: 8pt;
	padding: 4pt;
	margin: 4pt;
	display: flex;
	align-items: center;
	justify-content: center;
}

.e3m-element-lipu {
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
}

.e3m-hwmon-container {
	display: flex;
	flex-flow: wrap;
}

.e3m-header {
	display: flex;
}

.e3m-title {
	font-size: 24pt;
	font-weight: bold;
}

/* specifics */

.flex-grow-1 {
	flex-grow: 1;
}
.flex-direction-column {
	flex-direction: column;
}
.justify-content-start {
	justify-content: start;
}
