html {
	tab-size: 4;
	text-align: center;
	background: black;
	color: white;
	margin: 0;
}

a {
	color: yellow;
	background: #404040;
	padding: 4pt;
	margin: 2pt;
	display: inline-block;
}

body {
	background: #202020;
	padding: 8pt 16pt 16pt 16pt;
	display: inline-block;
	width: 90%;
	/* You can think of the bottom margin here as kind of pushing content into the 'safe area'. It doesn't really harm anything. */
	margin: 8pt 8pt 64pt 8pt;
	text-align: left;
}

h1 {
	border-bottom: solid 2pt #606060;
}

h2 {
	background: #101010;
	text-align: center;
	padding-top: 4pt;
	padding-bottom: 4pt;
	margin: 0;
	margin-left: -16pt;
	margin-right: -16pt;
}

#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

#header > h1 {
	flex-grow: 1;
}

ul {
	text-align: left;
}

pre {
	background: black;
	border: lightgrey solid 1px;
	border-radius: 8pt;
	padding: 4pt 4pt;
	overflow-x: scroll;
}

p, details {
	margin-top: 16px;
	margin-bottom: 16px;
}

code:not(pre>code) {
	background: black;
	border: black solid 3pt;
	border-radius: 4pt;
}

/* Fun fact! this would have been aside, but Firefox Reader View deletes those */
.div-tangent {
	border: lightgrey solid 1px;
	border-radius: 16pt;
	background: #181818;
	margin-left: 4pt;
	padding: 0pt 4pt;
	float: right;
	width: 50%;
}

.div-tangent > :first-child {
	display: none;
}

.div-tangent > :last-child {
	display: none;
}

.div-warning {
	padding: 8pt 16pt 8pt 16pt;
	background: #404020;
	margin-top: 16pt;
	margin-bottom: 16pt;
}

.div-eol {
	background: black;
	margin-left: -16pt;
	margin-right: -16pt;
	margin-bottom: -16pt;
	padding-left: 16pt;
	padding-top: 8pt;
	padding-bottom: 16pt;
}
