<!--
	This is free and unencumbered software released into the public domain.

	Anyone is free to copy, modify, publish, use, compile, sell, or
	distribute this software, either in source code form or as a compiled
	binary, for any purpose, commercial or non-commercial, and by any
	means.

	In jurisdictions that recognize copyright laws, the author or authors
	of this software dedicate any and all copyright interest in the
	software to the public domain. We make this dedication for the benefit
	of the public at large and to the detriment of our heirs and
	successors. We intend this dedication to be an overt act of
	relinquishment in perpetuity of all present and future rights to this
	software under copyright law.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
	MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
	IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
	OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
	ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
	OTHER DEALINGS IN THE SOFTWARE.

	For more information, please refer to <http://unlicense.org>
-->
<input id="fi" type="file"></input><br/>
<canvas id="toy" width="512" height="512"></canvas>
<br/>
<a href="#" onclick="enableDepthTest()">ENABLE</a>:<a href="#" onclick="disableDepthTest()">DISABLE</a> depth test
<br/>
<a href="#" onclick="freezeFrame = 0">FREEZE 0</a>:
<a href="#" onclick="freezeFrame--">PREV</a>:
<a href="#" onclick="freezeFrame++">NEXT</a>:
<a href="#" onclick="freezeFrame = null">OFF</a>
<br/>
Triangles: <div id="triBudget"></div>
<script src="libpva.js"></script>
<script>
var canvas = document.getElementById("toy");
var vgl;
if (location.href.endsWith("?wtf")) {
	vgl = new PVACanvasBackend(canvas);
} else {
	vgl = pvaTrySetupBackend(canvas);
}

var freezeFrame = null;

var anim = null;
var timer = null;
var currentFrame = 0;
var timeOfFirstFrame = null;

var triBudget = document.getElementById("triBudget");

function update(time) {
	if (anim != null) {
		if (timeOfFirstFrame == null) {
			timeOfFirstFrame = time;
		}
		// time to frame...
		var currentFrame = timer.frameOfLooped(time - timeOfFirstFrame);
		// debug opt.
		if (freezeFrame != null) {
			currentFrame = freezeFrame;
		}
		// check sanity...
		if (currentFrame >= 0 && currentFrame < anim.frames.length) {
			var frame = anim.frames[currentFrame];
			pvaRenderFrame(vgl, anim, frame);
			triBudget.innerText = frame.length.toString();
		}
	}
	requestAnimationFrame(update);
}
requestAnimationFrame(update);

function loadAnim(res) {
	// load textures
	pvaPerformReset(vgl, res, 1);
	anim = res;
	timer = new PVATimer(anim.sequence);
}

var fi = document.getElementById("fi");
function dostuff() {
	console.log("dostuff");
	var file = fi.files[0];
	file.arrayBuffer().then((ab) => {
		loadAnim(pvaDecode(ab));
	});
}
fi.addEventListener("change", dostuff);

function enableDepthTest() { console.log("depth test ON"); vgl.setDepthTestEnabled(true); return false; }
function disableDepthTest() { console.log("depth test OFF"); vgl.setDepthTestEnabled(false); return false; }
</script>
